#level-editor{
	width: 60%;
	box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.2);
	padding-top: 20px;

}

#entity-editor{	
	width: calc(40% - 10px);
	height: calc(100% - 10px);
	padding: 5px; 
}

#level-editor, #entity-editor{
	height: 100%;
	position: relative;
	float: left;
}

#level-panel canvas{
	border: 1px solid rgba(0,0,0,0.2);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWtra3///837QcSAAAAFUlEQVQY02NghAIGGBgggQG2HiYAAEUQAIEnpAxuAAAAAElFTkSuQmCC);
}

#level-panel{
	width: 640px;
	height: 380px;
	margin-left: auto;
	margin-right: auto;
}

#selector-panel{
	height: calc(100% - 380px);
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.panel{
	width: calc(50% - 11px);
	float: left;
	height: calc(100% - 10px);
	padding: 5px;
	
}

#tile-selector{
	border-right: 1px solid rgba(0,0,0,0.2);
}

.title{
	color: rgb(10, 10, 10);
	font-size: 24pt;
	font-weight: 300;
}