#entity-selector > ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: calc(100% - 46px);
	overflow: auto
}

#entity-selector > .fab{
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#entity-selector > ul > li > .preview{
	float: right;
	height: 64px;
	background-position: top left;
	background-repeat: no-repeat;
}